@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 20px 200px;
    margin: 0;
    align-items: center;
}

.header-logo {
    color: #f9fafb;
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.section-1 {
    padding: 40px 200px;
    padding-bottom: 100px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    color: #e5e7eb;
    gap: 2em;
    flex-shrink: 0;
    min-width: 50%;
    flex: 1; /*i'm not sure what it does, let's come back here tomorrow */

}

.title {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}
.subtext {
 
    font-size: 18px;
}

.info-section-1 {
    width: 50%;
}

img {
    display: flex;
    flex: 1;
}

.button {
    background-color: #3882f6;
    color: #f9fafb;
    font-size: 15px;
    font-weight: 700;
    border: none; 
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.dancing-finn {
    width: 150px;
    height: auto;
}

.section-2 {
    display: flex;
    flex-direction: column;
    padding: 40px 200px;
    padding-bottom: 100px;

}

.heading-section-2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 900;
}

.img-and-subtext {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.img-subtext {
    text-align: center;
}

.section-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 150px 200px;
    justify-content: center;
    align-items: center;
    
}

.quote {
    font-size: 36px;
    color: #1f2937;
    margin: 0;
}

.author {
    margin: 0;
    font-size: 36px;
    color: #1f2937;
    text-align: right; /* Aligns text inside the element */
    width: 100%; 
}

.section-4 {
    flex: 1;
}

.container-sec-4 {
    display: flex; 
    margin: 100px 200px; 
    padding: 50px 100px;
    background-color: #3882f6;
    border-radius: 25px;
}

.h3-section-4 {
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.h3-and-subtext { 
    color: #f9fafb; 
}

.h3-and-subtext p {
    margin: 0;
}
.section-4-button {
    display: flex;
    justify-content: center;
    color: #f9fafb;
    margin: auto; 
    text-align: center;
    background-color: #3882f6;
    border: solid #f9fafb;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.footer {
    background-color: #e5e7eb;
    text-align: center;
    padding: 0.5px 0;
    margin: 0
}